.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.errorContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
}

.errorUser {
  color: #ff0000;
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  font-style: normal;
}
.error404 {
  font-size: 200px;
}
.error-message {
  font-weight: 400;
}

.home-link {
  text-decoration: none;
  color: #ff0000;
  border-bottom: #ff0000;
}
