.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.home-formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-form-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  margin-top: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

.inputAdressSection {
  margin-top: 20px;
}
