/* .homeWrapper {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.home-formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-form-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  margin-top: 10px;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

.home-button {
  margin: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-self: start;
}

input {
  margin-top: 10px;
}

.inputAdressSection {
  margin-top: 10px;
}
