.tableData {
  /* color: #000; */
  width: 1200px;
}
.table-search {
  display: flex;
  width: 1200px;
  /* align-items: center; */
  justify-content: flex-end;
}
.table-searchBar {
  display: flex;
  justify-content: flex-end;
}
.eUeqdG {
  display: flex;
  overflow: visible;
  white-space: nowrap;
  text-overflow: unset;
}

/* .bnAwAJ {
  max-width: 100%;
} */
